[submodule "eduwebgroup/edoob"]
	path = eduwebgroup/edoob
	url = git@github.com:eduwebgroup/edoob.git
	branch = 15.0

[submodule "eduwebgroup/edoob_finance"]
	path = eduwebgroup/edoob_finance
	url = git@github.com:eduwebgroup/edoob_finance.git
	branch = 15.0

[submodule "eduwebgroup/edoob_facts"]
	path = eduwebgroup/edoob_facts
	url = git@github.com:eduwebgroup/edoob_facts.git
	branch = 15.0

[submodule "eduwebgroup/sincro_data_base"]
	path = eduwebgroup/sincro_data_base
	url = git@github.com:eduwebgroup/sincro_data_base.git
	branch = 15.0
